@font-face{
    font-family: tallfont;
    src: url(Victory\ Striker\ Sans\ Demo.otf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
}
.container{
    height: 100vh;
    width: 100%;
}
.top-nav{
    height: 80px;
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    /* border-radius: 1px 50px 1px 50px; */
    background: #2C2A4A;
}
.logo{
     margin: 10px 20px;
    padding: 20px;
    list-style: none;
    text-decoration: none;
}
.logo li a{
    color: #E43F6F;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    
}
.I{
    color: #ffffff;
}
.menu-list{
    display: flex;
    list-style: none;
    margin: 10px 1px;
    padding: 20px;
}
.menu-list li a{
    text-decoration: none;
    list-style: none;
    color: #C8B8DB;
    margin: 10px;
}
.functions{
    /* border: 1px solid red; */
    display: flex;
    list-style: none;
    margin-top: 14px;
    justify-content: center;
    width: 39%;
}
.functions li {
    margin-top: 7px;

}
.functions li a{
    /* list-style: none; */
    text-decoration: none;
    font-size: 30px;
    color: #1B9AAA;
    margin-left: 25px;
    margin-right: 30px;
    /* border: 1px solid red; */
}
.search-bar{
    width: 100%;
    /* border: 1px solid green; */
    max-width: 700px;
    background: rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 20px 20px;
    height: 55px;
    backdrop-filter: blur(4px) saturate(180%);
   
    
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    /* color: #7B0D1E; */
}
::placeholder{
    color: #DABFFF;
}
.search-bar button{
    /* width: 25px; */
    border: 0;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background: #58629b;
    cursor: pointer;
    
}
.search-bar button i{
    /* width: 30px; */
    color: #C8B8DB;
    font-size: 22px;
}
.middle-part{
    height: 90vh;
    width: 100%;
    /* border: 4px solid red; */
    position: relative;
}
#watermark{
    font-size: 200px;
    margin: 70px 80px;
    opacity: 0.1;
    z-index: 99;
    color: grey;
    font-family: tallfont;
    
}
.text-portion{
    margin-top: -600px;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    margin-left: 500px;
}
.barcode{
    display:flex;
    gap:0.8px;
    align-items:center;
}

.barcode span{
    width:var(--w);
    height:15px;
    background:#000;
}
.hero-content{
    font-family: tallfont;
    margin-left: 0px;
    font-size: 120px;
}
.para{
      font-family: "Ubuntu", sans-serif;
      font-size: 12px;
      margin-left: 400px;
      font-weight: 800;
}
.product-listing{
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: -140px;
}
.product-listing .lining{
    border: 0.1px solid black;
    height: 1px;
    width: 90%;
    margin-left: 70px;
}
.lists{
    display: flex;
    margin-left: 50px;
    margin-top: 18px;
}
.lists .one li {
    /* text-decoration: none; */
    list-style: none;
    
}
.lists .one li a{
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
    font-family: "Ubuntu", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.lists .two{
    display: flex;
     justify-content: space-between;
     margin-left: 370px;
}
.lists .two li{
    text-decoration: none;
    list-style: none;
   margin-left: 22px;
   font-family: "Ubuntu", sans-serif;
    color: black;
    font-size: 15px;
}
.lists .two li a{
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    color: grey;
    
}
.lists .two li a span{
    color: black;
    font-weight: 600;
}
.product-listing .linings{
    border: 0.1px solid black;
    height: 1px;
    width: 90%;
    margin-left: 70px;
    margin-top: 18px;
}
#products{
    border: 5px solid red;
    height: 100vh;
    width: 100%;
}
.item{
    border: 2px solid green;
    width: 310px;
}
.item img{
    height: 400px;
    width: 300px;
}


